.formulario-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.formulario {
    width: 40%;
    max-width: 500px;
    background-color: aliceblue;
    padding: 5em;
    margin: 2em;
    border-radius: 20px;



    h2 {
        font-size: 1.5rem;
    }
}